@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    background-color: #6B4B3D;
}

header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 550%;
    background-color: #493329;
    padding: 42px;
    margin-bottom: -7px;
    font-family: Cinzel;
    margin-right: -30px;
    font-weight: lighter;
    margin-left: -30px;
    text-indent: -610px;
    margin-top: 2px;
}

nav {
    text-align: center;
    color: #FFFFFF;
    background-color: #493329;
    padding: 20px;
    margin-left: -30px;
    font-family: Cormorant;
    margin-top: 10px;
    margin-right: -30px;
    margin-bottom: 15px;
}

nav a {
    font-family: Cinzel;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 23px;
}

main h3 {
    color: #FFFFFF;
    font-size: 140%;
    background-color: #493329;
    font-family: Cinzel;
    padding: 12px;
    margin-right: -41px;
    margin-bottom: -13px;
}

main {
    width: 90%;
    margin: auto;
}

main p {
    color: #FFFFFF;
    font-size: 135%;
    background-color: #493329;
    font-family: Cormorant;
    padding: 10px;
    margin-right: -41px;
    margin-bottom: 35px;
}

footer p {
    color: #FFFFFF;
    background-color: #493329;
    text-align: center;
    font-family: Cormorant;
    padding: 9px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 40px;
    font-size: 20px;
}

main img {
    background-color: #493329;
    border: #493329;
    border-style: solid;
    border-width: 10px;
    margin-right: 65px;

}

aside img {
    background-color: #493329;
    border: #493329;
    border-style: solid;
    border-width: 10px;
    margin-top: 32px;
    width: 681px;
    margin-bottom: 12px;
}

header img {
    width: 180px;
    float: left;
    margin-top: 20px;
    margin-left: 420px;
}

a:hover {
    background-color: #ffffff;
    cursor: pointer;
    transform:scale(1.2);
    color: #000000;
}

a:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.6);
    cursor: pointer;
}